<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/global.css" />
    <link rel="stylesheet" href="/stylesheets/products.css" />
  </head>

  <body>
    <nav>
      <h2 class="title">Simple Commerce</h2>
    </nav>
    <h1>Products</h1>

    <section>
      <ul>
        <% products.forEach(p=>{ -%>
        <li>
          <h3><%= p.name %></h3>
          <img src="<%=p.imgUrl%>" alt="iphone" />
          <div class="desc">
            <p><b>Rs.</b> <%= p.price %></p>
            <p><b>Category.</b> Mobile Phones</p>
            <p><b>Company.</b> Apple</p>
          </div>

          <p class="description2">
            <b>Description: </b>
            <%= p.description %>
          </p>
          <!-- <div class="readMore2 readMore">Read More</div> -->
          <br />
          <div class="card-footer">
            <p><b>Rating: </b> <%= p.rating %></p>
            <button class="button-18" role="button">Buy Now</button>
          </div>

          <% }); -%>
        </li>
      </ul>
    </section>
    <script src="/javascripts/products.js"></script>
  </body>
</html>
