<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/global.css" />
    <link rel="stylesheet" href="/stylesheets/products.css" />
  </head>

  <body>
    <nav
      style="display: flex; justify-content: space-between; padding-right: 5rem"
    >
      <h2 class="title">Simple Commerce</h2>
      <button class="button-18" id="logoutBtn">Log Out</button>
    </nav>
    <h1>Products</h1>

    <section>
      <ul>
        <% products.forEach(p=>{ -%>
        <li>
          <h3><%= p.name %></h3>
          <img src="<%=p.imgUrl%>" alt="iphone" />
          <div class="desc">
            <p><b>Rs.</b> <%= p.price %></p>
            <p><b>Category.</b> Mobile Phones</p>
            <p><b>Company.</b> Apple</p>
          </div>

          <p class="description2">
            <b>Description: </b>
            <%= p.description %>
          </p>
          <!-- <div class="readMore2 readMore">Read More</div> -->
          <br />
          <div class="card-footer">
            <p><b>Rating: </b> <%= p.rating %></p>
            <button class="button-18 buyBtn" role="button" id="<%= p.id %>">
              Buy Now
            </button>
          </div>

          <% }); -%>
        </li>
      </ul>
    </section>

    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="buy-form">
          <h2>Enter Delivery Details</h2>
          <input
            class="buyFormInput"
            type="text"
            id="customerName"
            placeholder="Name of person to whom the product is to be delivered"
          />
          <input
            class="buyFormInput"
            required
            type="text"
            id="address"
            placeholder="Delivery address"
          />
          <input
            class="buyFormInput"
            type="text"
            id="pinCode"
            placeholder="Delivery pinCode"
          />
          <input
            class="buyFormInput"
            type="text"
            id="preferredTime"
            placeholder="Preferred Delivery time"
          />
          <button onclick="handleBuy()" class="button-18">Order Product</button>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
    <script src="/javascripts/products.js"></script>
  </body>
</html>
